<mtapp:setting id="twLinky_target" label="<__trans phrase="Setting of Link Target">">
		<input type="checkbox" id="twLinky_target" name="twLinky_target" value="1"<mt:if name="twLinky_target"> checked="checked"</mt:if> />
</mtapp:setting>
<mtapp:setting id="twLinky_class" label="<__trans phrase="Add to Link Class">">
		<input type="checkbox" id="twLinky_class" name="twLinky_class" value="1"<mt:if name="twLinky_class"> checked="checked"</mt:if> />
</mtapp:setting>
